<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
">

    <bean id="customer" class="com.mesut.springstart.xml.Customer">
        <property name="name" value="Mesut YAKUT"/>
        <property name="address" ref="customerAddress"/>
    </bean>
    <bean id="company" class="com.mesut.springstart.xml.Company">
        <property name="name" value="My Company"/>
        <property name="address" ref="companyAddress"/>
        <property name="customer" ref="customer"/>
    </bean>
    <bean id="customerAddress" class="com.mesut.springstart.xml.Address">
        <property name="street" value="Customer Street"/>
    </bean>
    <bean id="companyAddress" class="com.mesut.springstart.xml.Address">
        <property name="street" value="Company Street"/>
    </bean>
</beans>
